@media only screen and (min-width:755px) {
    /* --------Header----------- */
    .heading {
        font-size: 35px;
    }
    /* --------NAVIGATION----------- */
    .nav {
        display: flex;
    }
    .nav a {
        font-size: 15px;
    }
    .nav li:first-child {
        display: none;
    }
    .nav li {
        display: block;
        flex: 1 1 100%;
        margin: auto;
        font-size: 18px;
    }
    /* --------BODY----------- */
    .purpose {
        width: 800px;
        margin: auto;
    }
    /* --------HIGHLIGHTS----------- */
    .highlights {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure img {
        width: 100%;
    }
    /* --------EVENTS----------- */
    .events {
    background-color: #0baaad83;
    padding: 5px;
    width: 750px;
    border-radius: 5px;
}
/* --------ANTIGUA----------- */
    .gallery {
        width: 750px;
        margin: auto;
    }
    .antigua p {
    text-align: left;
    width: 750px;
    }
    .architecture img {
        width: 90%;
    }
    .people img {
        width: 90%;
    }
    .handicrafts img {
        width: 90%;
    }
    .article {
    padding: 15px;
    height: auto;
    width: 800px;
}
/* --------JOIN US PAGE----------- */
    .joinow {
        width: 750px;
        text-align: center;
        margin: auto;
    }
    #form {
        width: 600px;
        margin: 15px auto;
    }
/* --------CONTACT PAGE----------- */
    #contactform {
        width: 600px;
        margin: 15px auto;
    }
    .directors {
        width: 750px;
        text-align: center;
        margin: auto;
    }
    .directors img {
        width: 75%;
    }
    .staff {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .staff figcaption {
        font-size: 15px;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 750px;
        margin: auto;
    }
/* --------DIRECTORY----------- */
    .layout {
        background-color: #bb3e03;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        float: right;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: auto;
        text-align: center;
        margin: auto;
        padding: 25px;
    }
}