body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
 img {
     grid-column: 2/2;
     max-width: 100%;
     height: auto;
     margin: 10px auto;
     align-items: center;
 }
 h1 {
    grid-column: 2/2;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 60px;
 }