@media only screen and (min-width:1100px) {
    header img {
        width: 100px;
    }
    main {
        width: 1000px;
        margin: 10px auto;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
    }
    .weekforecast {
      text-align: center;
    }
    .articlepic {
        float: right;
        margin: 10px;
        width: auto;
    }
    footer {
        width: 1000px;
        margin: auto;
        height: auto;
    }
}