@media only screen and (min-width:755px) {
    header img {
        width: 100px;
    }
    main {
        width: 725px;
        align-content: center;
        margin: 10px auto;        
    }
    .navigation {
        display: flex;
    }
    .navigation a {
        font-size: 18px;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 1 100%;
        margin: auto;
        font-size: 18px;
    }
    
    .hero h2 {
        font-size: 200%;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .hero {
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero-img {
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: 15px;
        width: 100%;
    }
    .weathersum {
        grid-column: 1;
        grid-row: 2/3;
        width: 25%;
        height: 250px;
        margin: 35px 15px;
        padding: 20px;
        background-color:rgba(156, 156, 172, 0.822); 
        font-family: 'Noto Sans JP', sans-serif;
    }
    .fdforecast {
        grid: none;

    }
    .weekforecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .articlepic {
        float: right;
        margin: 5px 5px;
        width: 300px;
    }
    .article {
        margin: 10px;
        padding: 15px;
        height: auto;
        font-family: 'Noto Sans JP', sans-serif;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .location {
        width: 70%;
    }
    footer {
        width: 75%;
        margin: auto;
        height: auto;
    }
}