/* --------HEADER----------- */
header {
    background-color: #cc5514b2;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
header img {
    width: 80px;
    height: auto;
}
.moto {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-size: 18px;
}
.headings {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    margin: 20px;
    line-height: 0.9;
    color: white;
}
/* --------NAVIGATION----------- */
.navigation {
    background-color: #19334d;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 4px;
}
.navigation a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
    line-height: 1.75; 
}
nav a:hover {
    color: black;
    background-color: #718eac;
    font-weight: 700;
}
.navigation .active {
    background-color: #718eac;
}
.responsive li{
    display: block;
}
/* --------BODY----------- */
body {
    background-color: #d7fafeb7;
}
main {
    background-color: #d7fafe00;
    padding: 10px;
}
main h2 {
    font-family: font-family: 'Poiret One', cursive;
    text-align: center;
}
main div {
    height: 50px;
    background-color: rgb(165, 164, 164);
    margin-top: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px;
    font-size: 20px;
    border: 4px solid rgb(245, 243, 135);
}
.summary {
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    padding: 20px;
    background-color: #718eac;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
/* --------HERO----------- */
.hero h2 {
    grid-column: 1/3;
    grid-row: 1/2;
}
.hero {
    display: block;
    width: auto;
}
.hero-img {
    width: 100%;
}
.weathersum {
    padding: 10px;
    background-color:rgba(156, 156, 172, 0.534); 
    font-family: 'Noto Sans JP', sans-serif;
}
/* --------FORECAST----------- */
.weekforecast {
    text-align: center;
    background-color: #e1e6ec;
    margin: 10px auto;
    font-family: 'Noto Sans JP', sans-serif;
}
.weekforecast {
    display: none;
}
/* --------ARTICLE----------- */
.articlepic {
    float: left;
    margin: 5px;
    width: 300px;
}
.article {
    background-color: #e1e6ec;
    margin: 10px auto;
    padding: 15px;
    height: auto;
    font-family: 'Noto Sans JP', sans-serif;
}
/* --------FOOTER----------- */
footer {
    background-color: #cb997e;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    width: auto;
}
.location {
    width: 50%;
}

/* --------HOME PAGE----------- */
.welcome {
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding: 15px;
}
.towns img{
    width: 100%;
}
.cards img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
.cards {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
.cards section {
    background-color: rgb(167, 167, 118);
    padding: 10px;
    margin: 10px auto;
}
.cards section h3 {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    background-color: rgb(226, 226, 139);
    height: 40px;
    padding: 10px;
    border: 4px solid rgb(105, 105, 69);
    color: rgb(105, 105, 69);
}
.events {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(167, 167, 118);
    display: block;
    text-align: center;
    padding: 10px;
}
.uevents {
    grid: none;
    align-items: center;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}

/* --------STORM CENTER----------- */
form {
    font-family: 'Noto Sans JP', sans-serif;
}
.label {
    font-weight: bold;
}
#form {
    margin: auto;
    border-radius: 5px;
    background-color: #dbd8d8;
    padding: 20px;
}
#formtitle {
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin: 20px auto;
}
.field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgb(165, 164, 164);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
input[type=submit]:hover {
      background-color: rgb(204, 181, 151);
}
  /* --------GALLERY----------- */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
}
.gallery img {
    width: 100%;
    grid-column: 1/2;
    margin: 10px auto;
}
figcaption {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}