@media only screen and (min-width:1100px) {
    header img {
        width: 100px;
    }
    main {
        width: 1000px;
        background-color: white;
        margin: 10px auto;
    }
    footer {
        width: 1000px;
        background-color: black;
        margin: auto;
    }
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: black;
    }
}