@media only screen and (min-width:1100px) {
    header img {
        width: 100px;
    }
    main {
        width: 1000px;
        background-color: white;
        margin: 10px auto;
    }
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: black;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cards section {
        padding: 10px;
        margin: 10px 10px;
        display: block;
    }
    .cards img {
        width: 100%;
        margin-top: 10px;
    }
    .location {
        width: 200px;
    }
    footer {
        width: 1000px;
        background-color: black;
        margin: auto;
        height: auto;
    }
}