@media only screen and (min-width:750px) {
    header {
        background-color: black;
    }
    header img {
        width: 100px;
    }
    main {
        width: 725px;
        align-content: center;
        margin: 10px auto;
    }
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .cards {
        display: block;
    }
    .cards section p, h4 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cards img {
        width: 90%;
    }
    .cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cards section p, .cards section h4 {
        grid-column: 1/2;
    }
    .cards section img {
        grid-row: 2/7;
        grid-column: 2/3;
    }
    .map {
        width: 40%;
        margin-left: 10%;
        padding: 0%;
    }
    .location {
        width: 200px;
    }
    footer {
        width: 1000px;
        background-color: black;
        margin: auto;
        height: auto;
    }
}