/* --------HEADER----------- */
header {
    background-color: #cc5514b2;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
header img {
    width: 80px;
    height: auto;
}
.moto {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-size: 18px;
}
.headings {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    margin: 20px;
    line-height: 0.9;
    color: white;
}
/* --------NAVIGATION----------- */
.navigation {
    background-color: #19334d;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 4px;
}
.navigation a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
    line-height: 1.75; 
}
nav a:hover {
    color: black;
    background-color: #718eac;
    font-weight: 700;
}
.navigation .active {
    background-color: #718eac;
}
.responsive li{
    display: block;
}
/* --------BODY----------- */
body {
    background-color: #d7fafeb7;
}
main {
    background-color: #d7fafe00;
    padding: 10px;
}
/* --------HOME PAGE----------- */
.welcome {
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 30px;
    margin: auto;
    padding: 15px;
}
.towns img{
    width: 100%;
}
.cards img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
.cards {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
.cards section {
    background-color: #e1e6ec;
    padding: 10px;
    margin: 10px auto;
}
.cards section h3 {
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    padding: 20px;
    background-color: #718eac;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
.events {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #e1e6ec;
    display: block;
    text-align: center;
    padding: 10px;
}
.uevents {
    grid: none;
    align-items: center;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
}
/* --------FOOTER----------- */
footer {
    background-color: #cb997e;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    height: auto;
    padding: 10px;
    border-radius: 4px;
    width: auto;
}
.location {
    width: 50%;
}
