@media only screen and (min-width:1100px) {
 /* --------HEADER----------- */
 header img {
    width: 100px;
}
/* --------NAVIGATION----------- */
.navigation li:first-child {
    display: none;
}
.navigation li {
    display: block;
}
.form {
    width: 80%;
}
/* --------FOOTER----------- */
footer {
    width: 1000px;
    margin: auto;
    height: auto;
}
}