@media only screen and (min-width:750px) {
    header {
        background-color: black;
    }
    header img {
        width: 100px;
    }
    main {
        width: 725px;
        align-content: center;
        margin: 10px auto;
    }
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .hero h2 {
        font-size: 200%;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    picture {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .sumtext {
        grid-column: 1/2;
        grid-row: 1/2;
        height: fit-content;
        padding: 10px;
        background-color:rgba(179, 179, 194, 0.425); 
        border: none;
        font-family: 'Noto Sans JP', sans-serif;
    }
    .weekforecast {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .articlepic {
        float: right;
        margin: 5px 5px;
        width: 300px;
    }
    .article {
        background-color: gainsboro;
        margin: 0 auto;
        padding: 15px;
        height: 440px;
        font-family: 'Noto Sans JP', sans-serif;

    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .location {
        width: 200px;
    }
    footer {
        width: 1000px;
        background-color: black;
        margin: auto;
        height: auto;
    }
}