@media only screen and (min-width:1100px) {
    header img {
        width: 100px;
    }
    main {
        width: 1000px;
        background-color: white;
        margin: 10px auto;
    }
    .navigation {
        display: flex;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a {
        color: black;
    }
    h2 {
        text-align: center;
    }
    .hero-ph {
        margin: 10px auto;
        width: 100%;
    }
    .weatherfloat {
        position: absolute;
        top: 350px;
        left: 300px;
        background-color: radial-gradient;
        padding: .5rem;
        box-shadow: 0 0 30px black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 300px;
    }
    .weekforecast {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .articlepic {
        float: right;
        margin: 5px;
        width: 500px;
    }
    .article {
        background-color: gainsboro;
        margin: 15px;
        padding: 15px;
        height: 440px;
        font-family: 'Noto Sans JP', sans-serif;
    }
    .location {
        width: 200px;
    }
    footer {
        width: 1000px;
        background-color: black;
        margin: auto;
    }
}