@media only screen and (min-width:755px) {
    /* --------HEADER----------- */
    header img {
        width: 100px;
    }
    /* --------NAVIGATION----------- */
    .navigation {
        display: flex;
    }
    .navigation a {
        font-size: 15px;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
        margin: auto;
        font-size: 18px;
    }
    /* --------BODY----------- */
    main {
        width: 725px;
        align-content: center;
        margin: 10px auto;        
    }
    /* --------HERO----------- */
    .hero {
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero h2 {
        font-size: 200%;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .hero-img {
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: 15px;
        width: 100%;
    }
    .weathersum {
        grid-column: 1;
        grid-row: 2/3;
        width: 25%;
        height: 250px;
        margin: 35px 15px;
        padding: 20px;
        background-color:rgba(156, 156, 172, 0.822); 
        font-family: 'Noto Sans JP', sans-serif;
    }
    /* --------FORECAST----------- */
    .weekforecast {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .articlepic {
        float: right;
        width: 300px;
    }
    /* --------ARTICLE----------- */
    .article {
        padding: 15px;
        height: auto;
        font-family: 'Noto Sans JP', sans-serif;
    }
    /* --------FOOTER----------- */
    footer {
        width: 75%;
        margin: auto;
        height: auto;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .location {
        width: 60%;
    }

    /* --------HOME PAGE----------- */
    .cards {
        display: block;
    }
    .cards section p, h4 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cards img {
        width: 90%;
    }
    .cards section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .cards section p, .cards section h4 {
        grid-column: 1/2;
    }
    .cards section img {
        grid-row: 2/7;
        grid-column: 2/3;
    }
    /* --------STORM CENTER----------- */
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      /* --------GALLERY----------- */
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .gallery img {
        width: 100%;
        margin: 10px 10px;
    }
    figcaption {
        font-family: 'Noto Sans JP', sans-serif;
        text-align: center;
    }
}